{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar dropdown">
            <button class="btn btn-dark btn-sm me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-plus me-2"></span>New Task
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-0">
                <a class="dropdown-item fw-normal rounded-top" href="#"><span class="fas fa-tasks"></span>New Task</a>
                <a class="dropdown-item fw-normal" href="#"><span class="fas fa-cloud-upload-alt"></span>Upload Files</a>
                <a class="dropdown-item fw-normal" href="#"><span class="fas fa-user-shield"></span>Preview Security</a>
                <div role="separator" class="dropdown-divider my-0"></div>
                <a class="dropdown-item fw-normal rounded-bottom" href="#"><span class="fas fa-rocket text-danger"></span>Upgrade to Pro</a>
            </div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
        </div>
    </div>

<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="widget">
                        <div class="panel-heading">
                    <h6 class="panel-title" >
                        Assets (car) name 001 </h6>

                </div>
						 <p style="text-align:center"><img src="/static/assets/img/car/car-1.png" alt="" class="img-circle" style="width:75px;" id="user-img"></p>
                      <div class="detail">
                        <div class="summary-block">
                            <div class="summary-content">
                                <div class="fas fa-exclamation-triangle "><span class="summary-title"> Alert ID</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Alert00123</p>
                                  </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">on 1-hour ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">On</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">10.00 pm 06/21/2021</p>
                                </div>
                            </div>
                        </div>
						<div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">Off</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">still running</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Brand</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Model</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford Echo Sport</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-city" style="font-size:13px"> <span class="summary-title">Site Name</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Site 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-map-marker-alt" style="font-size:18px"> <span class="summary-title">Location</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Chennai India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="widget">
                        <div class="panel-heading">
                    <h6 class="panel-title">
                        Assets (car) name 002</h6>
                </div>
						 <p style="text-align:center"><img src="/static/assets/img/car/car-2.png" alt="" class="img-circle" style="width:75px;" id="user-img"></p>
                      <div class="detail">
                        <div class="summary-block">
                            <div class="summary-content">
                                <div class="fas fa-exclamation-triangle "><span class="summary-title"> Alert ID</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Alert00123</p>
                                  </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">on 1-hour ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">On</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">10.00 pm 06/21/2021</p>
                                </div>
                            </div>
                        </div>
						<div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">Off</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">still running</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Brand</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Model</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford Echo Sport</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-city" style="font-size:13px"> <span class="summary-title">Site Name</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Site 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-map-marker-alt" style="font-size:18px"> <span class="summary-title">Location</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Chennai India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="widget">
                        <div class="panel-heading">
                    <h6 class="panel-title">
                        Assets (car) name 003</h6>
                </div>
						 <p style="text-align:center"><img src="/static/assets/img/car/car-3.png" alt="" class="img-circle" style="width:75px;" id="user-img"></p>
                      <div class="detail">
                        <div class="summary-block">
                            <div class="summary-content">
                                <div class="fas fa-exclamation-triangle "><span class="summary-title"> Alert ID</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Alert00125</p>
                                  </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">on 1-hour ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">On</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">10.00 pm 06/21/2021</p>
                                </div>
                            </div>
                        </div>
						<div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">Off</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">still running</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Brand</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Model</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford Echo Sport</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-city" style="font-size:13px" > <span class="summary-title">Site Name</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Site 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-map-marker-alt" style="font-size:18px"> <span class="summary-title">Location</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Chennai India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="widget">
                        <div class="panel-heading">
                    <h6 class="panel-title">
                        Assets (car) name 004</h6>
                </div>
						 <p style="text-align:center"><img src="/static/assets/img/car/car-4.png" alt="" class="img-circle" style="width:75px;" id="user-img"></p>
                      <div class="detail">
                        <div class="summary-block">
                            <div class="summary-content">
                                <div class="fas fa-exclamation-triangle "><span class="summary-title"> Alert ID</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Alert00126</p>
                                  </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">on 1-hour ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">On</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">10.00 pm 06/21/2021</p>
                                </div>
                            </div>
                        </div>
						<div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">Off</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">still running</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Brand</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Model</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford Echo Sport</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-city"style="font-size:13px" > <span class="summary-title">Site Name</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Site 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-map-marker-alt" style="font-size:18px"> <span class="summary-title">Location</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Chennai India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
			</div>
		</div>

    <div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="widget">
                        <div class="panel-heading">
                    <h6 class="panel-title">
                        Assets (car) name 001</h6>
                </div>
						 <p style="text-align:center"><img src="/static/assets/img/car/car-1.png" alt="" class="img-circle" style="width:75px;" id="user-img"></p>
                      <div class="detail">
                        <div class="summary-block">
                            <div class="summary-content">
                                <div class="fas fa-exclamation-triangle "><span class="summary-title"> Alert ID</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Alert00123</p>
                                  </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">on 1-hour ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">On</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">10.00 pm 06/21/2021</p>
                                </div>
                            </div>
                        </div>
						<div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">Off</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">still running</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Brand</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Model</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford Echo Sport</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-city" style="font-size:13px"> <span class="summary-title">Site Name</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Site 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-map-marker-alt" style="font-size:18px"> <span class="summary-title">Location</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Chennai India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="widget">
                        <div class="panel-heading">
                    <h6 class="panel-title">
                        Assets (car) name 001</h6>
                </div>
						 <p style="text-align:center"><img src="/static/assets/img/car/car-2.png" alt="" class="img-circle" style="width:75px;" id="user-img"></p>
                      <div class="detail">
                        <div class="summary-block">
                            <div class="summary-content">
                                <div class="fas fa-exclamation-triangle "><span class="summary-title"> Alert ID</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Alert00123</p>
                                  </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">on 1-hour ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">On</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">10.00 pm 06/21/2021</p>
                                </div>
                            </div>
                        </div>
						<div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">Off</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">still running</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Brand</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Model</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford Echo Sport</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-city" style="font-size:13px"> <span class="summary-title">Site Name</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Site 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-map-marker-alt" style="font-size:18px"> <span class="summary-title">Location</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Chennai India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="widget">
                        <div class="panel-heading">
                    <h6 class="panel-title">
                        Assets (car) name 001</h6>
                </div>
						 <p style="text-align:center"><img src="/static/assets/img/car/car-3.png" alt="" class="img-circle" style="width:75px;" id="user-img"></p>
                      <div class="detail">
                        <div class="summary-block">
                            <div class="summary-content">
                                <div class="fas fa-exclamation-triangle "><span class="summary-title"> Alert ID</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Alert00123</p>
                                  </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">on 1-hour ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">On</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">10.00 pm 06/21/2021</p>
                                </div>
                            </div>
                        </div>
						<div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">Off</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">still running</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Brand</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Model</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford Echo Sport</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-city" style="font-size:13px" > <span class="summary-title">Site Name</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Site 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-map-marker-alt" style="font-size:18px"> <span class="summary-title">Location</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Chennai India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="widget">
                        <div class="panel-heading">
                    <h6 class="panel-title">
                        Assets (car) name 001</h6>
                </div>
						 <p style="text-align:center"><img src="/static/assets/img/car/car-4.png" alt="" class="img-circle" style="width:75px;" id="user-img"></p>
                      <div class="detail">
                        <div class="summary-block">
                            <div class="summary-content">
                                <div class="fas fa-exclamation-triangle "><span class="summary-title"> Alert ID</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Alert00123</p>
                                  </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">on 1-hour ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">On</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">10.00 pm 06/21/2021</p>
                                </div>
                            </div>
                        </div>
						<div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">Off</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">still running</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Brand</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Model</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford Echo Sport</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-city"style="font-size:13px" > <span class="summary-title">Site Name</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Site 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-map-marker-alt" style="font-size:18px"> <span class="summary-title">Location</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Chennai India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
			</div>
		</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}{% endblock javascripts %}
