{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col md-3">
    <div class="widget">
      <div class="panel-heading"></div>
      <div class="detail">
                        <div class="summary-block">
                            <div class="summary-content">
                                <div class="fas fa-exclamation-triangle "><span class="summary-title"> Alert ID</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Alert00123</p>
                                  </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">on 1-hour ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">On</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">10.00 pm 06/21/2021</p>
                                </div>
                            </div>
                        </div>
						<div class="summary-block">
                            <div class="summary-content">
                               <div class="far fa-clock"> <span class="summary-title">Off</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">still running</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Brand</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-car"> <span class="summary-title">Car Model</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Ford Echo Sport</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-city" style="font-size:13px"> <span class="summary-title">Site Name</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Site 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="fas fa-map-marker-alt" style="font-size:18px"> <span class="summary-title">Location</span></div>
                                <div class="summary-price">
                                    <p class="summary-text">Chennai India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
  </div>
    <div class="col md-3">
       <p style="text-align:center"><img src="/static/assets/img/car/car-1.png" alt="" class="img-circle" id="user-img"></p>
  </div>
    <div class="col md-3">
    <div id="osm-map" style="padding:5px;height:250px;">


  </div>
  </div>
</div>

<script  type="application/javascript">
    var requestUrl = location.origin;
    var element = document.getElementById('osm-map');
    var map = L.map(element);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    map.fitWorld();
    function success(data){
        jsonData = data;
        debugger;
        var targets = [];
        $.each(jsonData , function(idx,val){
            var lat = val.Latitude;
            var lon = val.Longitude
            var imei = val.IMEI;
            var timestamp = val.timestamp;
            var target = L.latLng(lat, lon);
            targets.push(target);

            var mark=L.marker(target).bindPopup("Tag_ID: "+imei).addTo(map);
            mark.openPopup();

        });
        map.setView(targets[0,2], 50 );
       // setTimeout(function(){ map.invalidateSize()},);


                }

function callAjax_1(){
            $.ajax({
                url: requestUrl + "/api/obddata",
                dataType: 'json',
                type: 'get',
                contentType: 'application/json'
})

.done(function (data) { success(data); })
.fail(function (jqXHR, textStatus, errorThrown) {  console.log(jqXhr); });
              }

$(document).ready(function(e){
    callAjax_1();

});

</script>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}



{% endblock javascripts %}
