{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}
{% block content %}
<body>
    <!-- Here a loader is created which
             loads till response comes -->
    <div class="d-flex justify-content-center"></div>
    <h1>OBD Data</h1>
    <!-- table for showing data -->
    <div id="obdData">
      <div class="card card-body shadow-sm table-wrapper table-responsive">
      <table class="table table-hover">
            <thead>
                <th>ORG ID</th>
                <th>SITE ID</th>
                <th>VOB ID</th>
                <th>OBD TAG ID</th>
                <th>IMEI ID</th>
                <th>LATITUDE</th>
                <th>NORTH/SOUTH</th>
                <th>LONGITUDE</th>
                <th>EAST/WEST</th>
                <th>SS</th>
                <th>TIMEOUT</th>
                <th>STATUS</th>
                <th>BATTERY LEVEL</th>
            </thead>
            <tbody id="obdTableData">

            </tbody>
        </table>
    </div>
         </div>
</body>

    <script type="text/javascript">
        var api_url = "http://127.0.0.1:8080/api/obddata";
        debugger;
        $.ajax(api_url, {
            type: 'GET',
            success: function (data, status, xhr) {
                writeTableContent(data)
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert(errorMessage)
            }
        });

        function writeTableContent(response) {
            var tr = '';
            $.each(response, function (i, item) {
                tr += '<tr>'
                tr += '<td>' + item.OrgID + '</td>'
                tr += '<td>' + item.SiteID + '</td>'
                tr += '<td>' + item.VOB_ID + '</td>'
                tr += '<td>' + item.OBD_TAG_ID + '</td>'
                tr += '<td>' + item.IMEI + '</td>'
                tr += '<td>' + item.Latitude + '</td>'
                tr += '<td>' + item.North_South + '</td>'
                tr += '<td>' + item.Longitude + '</td>'
                tr += '<td>' + item.East_West + '</td>'
                tr += '<td>' + item.Signal_Strength + '</td>'
                tr += '<td>' + item.timeout + '</td>'
                tr += '<td>' + item.Device_Status + '</td>'
                tr += '<td>' + item.Internal_Battery_Level + '</td>'
                ;
                tr += '</tr>'
            });
            $('#obdTableData').append(tr);
        }

    </script>
<div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
          <nav aria-label="Page navigation example">
              <ul class="pagination mb-0">
                  <li class="page-item">
                      <a class="page-link" href="#">Previous</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item active">
                      <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">4</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">5</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                  </li>
              </ul>
          </nav>
          <div class="fw-bold small d-none d-lg-block">Showing <b>5</b> out of <b>25</b> entries</div>
      </div>


{% endblock content %}
{% block javascripts %}{% endblock javascripts %}



